.select__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    color: var(--color-gray-0);
  }
}

.select__error {
  color: var(--color-gray-1);
  position: absolute;
  top: 48px;
  font-size: 10px;
}
