.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  margin-right: 70px;
}
.header__container_withButton {
  justify-content: space-between;
}
@media (max-width: 700px) {
  .header__logo {
    margin-right: 0;
  }
}
