.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container_withButton {
  justify-content: space-between;
}

.dashboard{
    margin: 15px 0px 25px;
}